.Rproj.user
.Rhistory
.RData
.Rprofile
*.Rproj

data/*/*
!data/process/*
!README.md

*.qsub*
mothur*logfile
*temp*
*.docx
*.fastq
*.fasta
*.pbs
data/process/lu/old/*
data/process/dejea/old/*
*.pbs.*
data/process/weir/old/*
data/process/brim/old/*
data/process/kostic

