.Rproj.user
.Rhistory
.RData
.Rprofile
*.Rproj

data/*/*
!data/process/*
!README.md

*.qsub*
mothur*logfile
*temp*
*.docx
*.fastq
*.fasta
*.pbs
data/process/lu/old/*
data/process/dejea/old/*
*.pbs.*
data/process/weir/old/*
data/process/brim/old/*

data/process/hale/*.map
data/process/hale/*.count_table
data/process/hale/*.taxonomy
data/process/hale/*.dist
data/process/hale/*.file
data/process/hale/*.summary
data/process/hale/*.list
data/process/hale/*.shared
data/process/hale/*.groups
data/process/hale/*.txt
data/process/hale/*.qual
data/process/hale/*.accnos
data/process/hale/*.report
data/process/hale/*.align

